.memory-game-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../public/assets/img/bg-clouds.png') repeat center 100%;
    background-size: cover;

    .victory-burst {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white, white, white, white);
        z-index: 1;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;

        @keyframes scale-push-pop {
            0% {
                transform: scale(0, 0);
            }

            80% {
                transform: scale(1.4, 1.4);
            }

            100% {
                transform: scale(1);
            }
        }

        &.animate {
            display: flex;
            .congratulations-text {
                animation: .3s scale-push-pop ease-in-out;
            }

            .radial-container {
                animation: 6s spin linear infinite;

                .radial {
                    animation: 1s scale-push-pop linear;
                }
            }
        }
        .cong-wrapper {
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1;

                background: linear-gradient(135deg, #fdfefe00 30%, #ffffff 50%, #fdfefe00 70%);
                background-size: 200% 200%;
                /* Expand background for movement room */
                animation: moveGradient 0.5s linear 1;
                animation-fill-mode: forwards;
            }
        }

        .congratulations-text {
            font-size: 15rem;
            width:60rem;
            color: #89cfff;
            font-weight: 800;
            user-select: none;
            pointer-events: none;
            font-family: 'Nunito';
            position: relative;
            z-index: 1;



        }

        .radial-container {
            position: absolute;

            @keyframes spin {
                from {
                    transform: rotate(0)
                }

                to {
                    transform: rotate(360deg)
                }
            }
        }

        .radial {

            opacity: 0.3;

        }

    }

    .main-app-wrapper {
        width: 40vw;
        position: relative;
    }

    .logo.upper-left {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 12rem;
    }

    .main-wrapper {
        padding-top: 3rem;
    }

    .action-item {
        cursor: pointer;
    }


    .memory-game-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.2rem;
        width: 31rem;
        height: 31rem;
        margin: 0 auto;

        .game-card {
            width: 7rem;
            position: relative;
            cursor: pointer;
            height: 7rem;
            border-radius: 16px;
            background-image: url('../../../public/assets/img/memory-game/card.svg');
            background-size: cover;
            overflow: hidden;

            &.unflipped {
                transition: .2s all;

                &:hover {
                    filter: brightness(1.05);
                }
            }


        }

        .game-card.match {
            animation: jumpScale 0.3s linear 1;
            animation-fill-mode: forwards;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1;

                background: linear-gradient(135deg, #fdfefe00 30%, #ffffff 50%, #fdfefe00 70%);
                background-size: 200% 200%;
                /* Expand background for movement room */
                animation: moveGradient 0.5s linear 1;
                animation-fill-mode: forwards;
            }

            @keyframes jumpScale {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }

            @keyframes moveGradient {
                0% {
                    background-position: 0% 0%;

                }

                80% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                    background-position: 100% 100%;
                }
            }
        }


    }

    .loading-screen {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 4rem;
        }
    }
}